@import url(/reset.css);
@import url(/styles/cabecalho.css);
@import url(/styles/adicionar.css);
@import url(/styles/lista.css);
@import url(/styles/botaovoltar.css);
@import url(/styles/formulario.css);
@import url(/styles/editarcadastro.css);

:root {
    --cor-de-fundo : linear-gradient(90deg, rgba(0,55,251,1) 0%, rgba(69,252,142,1) 100%, rgba(55,250,0,0.3337710084033614) 100%);
    --fonte-principal: "Inter";
    --cor-formulario: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(40,168,91,1) 100%, rgba(96,126,87,0.3337710084033614) 100%);
    --cor-verde: #45fc8e;
    --cor-azul: #0037fb;
    --cor-branca: #ffffff;
    --cor-preto: linear-gradient(90deg, rgba(0,0,0,0.9528186274509804) 75%, rgba(40,168,91,1) 100%, rgba(96,126,87,0.3337710084033614) 100%);
}

body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

