.adicionar--vaca{
    background: var(--cor-azul);
    position: fixed;
    bottom: 65px;
    right: 30px;
    font-size: 30px;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 100;
    box-shadow: 2px 2px 2px var(--cor-azul);
}

.adicionar--botao {
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 45px;
}

.adicionar--vaca:hover {
    background-color: var(--cor-branca);
    box-shadow: 2px 2px 20px var(--cor-branca);
}

.adicionar--botao:hover{
    color: var(--cor-azul);
}